<mat-card>
    <mat-card-header>
      <mat-card-title>{{!id ? 'Crear ' : 'Editar '}} comentario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="container">
        <form [formGroup]="form" (submit)="submit()">
            <div class="row mt-3">
                <div class="col-md">
                    <mat-form-field class="form-field full-width" appearance="outline">
                        <mat-label>Publicación</mat-label>
                        <mat-select formControlName="post">
                            <mat-option *ngFor="let op of posts.data" [value]="op.id">{{op.title}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.post.touched && form.controls.post.invalid">
                        <span *ngIf="form.controls.post.errors.required">Este campo es requerido.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <mat-form-field class="form-field full-width" appearance="outline">
                        <mat-label>Contenido</mat-label>
                        <textarea matInput formControlName="content" rows="5" cols="40" required></textarea>
                        <mat-error *ngIf="form.controls.content.touched && form.controls.content.invalid">
                        <span *ngIf="form.controls.content.errors.required">Este campo es requerido.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-center">
                <button mat-raised-button color="success" type="submit" [disabled]="loading">
                    <mat-icon>add</mat-icon>
                    Guardar
                </button>
        
                <button [routerLink]="'/comment'" mat-raised-button color="cancel" type="button" class="ml">
                    <mat-icon>close</mat-icon>
                    Cancelar
                </button>
                </div>
            </div>

            <app-loading [show]="loading"></app-loading>
        </form>
      </div>
    </mat-card-content>
</mat-card>
  